<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="TODO">
    <meta name="keywords" content="TODO">
    <meta name="author" content="TODO">
    <meta name="copyright" content="TODO"/>
    <link type="text/plain" rel="author" href="http://TODO/humans.txt">
    <!-- LOCALIZE -->
    <title>My little kitchen | Recipes</title>

    <!-- Styles -->
    <link rel="stylesheet" href="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.lime-pink.min.css" />
    <link rel="stylesheet" href="styles.css">

    <!-- Fonts and icons -->
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700&subset=latin,cyrillic" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
  </head>
  <body>
    <div class="mdl-layout__container">
      <!-- Header -->
      <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
          <div class="mdl-layout__header-row">
            <!-- Title -->
            <span class="mdl-layout-title">My little kitchen</span>
            <div class="mdl-layout-spacer"></div>
            <nav class="mdl-navigation mdl-layout--large-screen-only custom-header__nav">
            <!-- LOCALIZE -->
              <a class="mdl-navigation__link" href="index.html">НАЧАЛО</a>
              <a class="mdl-navigation__link active-main" href="recipes.html">РЕЦЕПТИ</a>
              <a class="mdl-navigation__link" href="">ТРИКОВЕ</a>
              <a class="mdl-navigation__link" href="">ЗА МЕН</a>
              <a class="mdl-navigation__link" href="">КОНТАКТИ</a>
              <a class="mdl-navigation__link" href="">РАБОТЕТЕ С МЕН</a>
            </nav>
          </div>
        </header>
        <div class="mdl-layout__drawer">
        <!-- LOCALIZE -->
          <span class="mdl-layout-title">My little kitchen</span>
          <nav class="mdl-navigation">
            <a class="mdl-navigation__link" href="index.html">НАЧАЛО</a>
            <a class="mdl-navigation__link active-side" href="recipes.html">РЕЦЕПТИ</a>
            <a class="mdl-navigation__link" href="">ТРИКОВЕ</a>
            <a class="mdl-navigation__link" href="">ЗА МЕН</a>
            <a class="mdl-navigation__link" href="">КОНТАКТИ</a>
            <a class="mdl-navigation__link" href="">РАБОТЕТЕ С МЕН</a>
          </nav>
          <!-- Card: bio -->
          <div class="mdl-grid">
            <div class="card__bio mdl-cell mdl-cell--12-col mdl-cell--bottom">
              <div class="mdl-card__media">
                <img src="images/bio.jpg" border="0" alt="TODO">
              </div>
              <div class="mdl-typography--text-center">
                <!-- LOCALIZE -->
                <h2 class="mdl-card__title-text">Адриана Мартева</h2>
              </div>
            </div>
          </div>
        </div>
      <!-- Content -->
      <!-- Main content -->
      <main class="mdl-layout__content">
        <!-- Grid -->
        <div class="mdl-grid content mdl-tabs mdl-js-tabs mdl-js-ripple-effect">
        <!-- Modules: card -->
          <!-- Card: Collections -->
            <div class="mdl-tabs__tab-bar mdl-cell mdl-cell--12-col">
                <!-- LOCALIZE -->
                <a href="#recipe__categories" class="mdl-tabs__tab is-active">КАТЕГОРИИ</a>
                <a href="#recipe__ingredients" class="mdl-tabs__tab">ПРОДУКТИ</a>
                <a href="#recipe__cuisine" class="mdl-tabs__tab">ТИП КУХНЯ</a>
            </div>
            <div class="mdl-tabs__panel is-active" id="recipe__categories">
              <div class="mdl-grid">
                <div class="mdl-card mdl-cell mdl-cell--12-col mdl-cell--3-col-desktop mdl-shadow--2dp">
                  <a class="link__collections" href="TODO.html">
                    <div class="mdl-card__media">
                      <img src="images/IMGP0947.jpg" width="100%" border="0" alt="TODO">
                    </div>
                    <div class="mdl-card__title">
                    <!-- LOCALIZE -->
                      <h2 class="mdl-card__title-text">Име на категорията</h2>
                      <div class="mdl-layout-spacer"></div>
                    </div>
                  </a>
                </div>
                <div class="mdl-card mdl-cell mdl-cell--12-col mdl-cell--3-col-desktop mdl-shadow--2dp">
                  <a class="link__collections" href="TODO.html">
                    <div class="mdl-card__media">
                      <img src="images/IMGP0947.jpg" width="100%" border="0" alt="TODO">
                    </div>
                    <div class="mdl-card__title">
                    <!-- LOCALIZE -->
                      <h2 class="mdl-card__title-text">Име на категорията</h2>
                      <div class="mdl-layout-spacer"></div>
                    </div>
                  </a>
                </div>
                <div class="mdl-card mdl-cell mdl-cell--12-col mdl-cell--3-col-desktop mdl-shadow--2dp">
                  <a class="link__collections" href="TODO.html">
                    <div class="mdl-card__media">
                      <img src="images/IMGP0947.jpg" width="100%" border="0" alt="TODO">
                    </div>
                    <div class="mdl-card__title">
                    <!-- LOCALIZE -->
                      <h2 class="mdl-card__title-text">Име на категорията</h2>
                      <div class="mdl-layout-spacer"></div>
                    </div>
                  </a>
                </div>
                <div class="mdl-card mdl-cell mdl-cell--12-col mdl-cell--3-col-desktop mdl-shadow--2dp">
                  <a class="link__collections" href="TODO.html">
                    <div class="mdl-card__media">
                      <img src="images/IMGP0947.jpg" width="100%" border="0" alt="TODO">
                    </div>
                    <div class="mdl-card__title">
                    <!-- LOCALIZE -->
                      <h2 class="mdl-card__title-text">Име на категорията</h2>
                      <div class="mdl-layout-spacer"></div>
                    </div>
                  </a>
                </div>
                <div class="mdl-card mdl-cell mdl-cell--12-col mdl-cell--3-col-desktop mdl-shadow--2dp">
                  <a class="link__collections" href="TODO.html">
                    <div class="mdl-card__media">
                      <img src="images/IMGP0947.jpg" width="100%" border="0" alt="TODO">
                    </div>
                    <div class="mdl-card__title">
                    <!-- LOCALIZE -->
                      <h2 class="mdl-card__title-text">Име на категорията</h2>
                      <div class="mdl-layout-spacer"></div>
                    </div>
                  </a>
                </div>
                <div class="mdl-card mdl-cell mdl-cell--12-col mdl-cell--3-col-desktop mdl-shadow--2dp">
                  <a class="link__collections" href="TODO.html">
                    <div class="mdl-card__media">
                      <img src="images/IMGP0947.jpg" width="100%" border="0" alt="TODO">
                    </div>
                    <div class="mdl-card__title">
                    <!-- LOCALIZE -->
                      <h2 class="mdl-card__title-text">Име на категорията</h2>
                      <div class="mdl-layout-spacer"></div>
                    </div>
                  </a>
                </div>
                <div class="mdl-card mdl-cell mdl-cell--12-col mdl-cell--3-col-desktop mdl-shadow--2dp">
                  <a class="link__collections" href="TODO.html">
                    <div class="mdl-card__media">
                      <img src="images/IMGP0947.jpg" width="100%" border="0" alt="TODO">
                    </div>
                    <div class="mdl-card__title">
                    <!-- LOCALIZE -->
                      <h2 class="mdl-card__title-text">Име на категорията</h2>
                      <div class="mdl-layout-spacer"></div>
                    </div>
                  </a>
                </div>
                <div class="mdl-card mdl-cell mdl-cell--12-col mdl-cell--3-col-desktop mdl-shadow--2dp">
                  <a class="link__collections" href="TODO.html">
                    <div class="mdl-card__media">
                      <img src="images/IMGP0947.jpg" width="100%" border="0" alt="TODO">
                    </div>
                    <div class="mdl-card__title">
                    <!-- LOCALIZE -->
                      <h2 class="mdl-card__title-text">Име на категорията</h2>
                      <div class="mdl-layout-spacer"></div>
                    </div>
                  </a>
                </div>
                <div class="mdl-card mdl-cell mdl-cell--12-col mdl-cell--3-col-desktop mdl-shadow--2dp">
                  <a class="link__collections" href="TODO.html">
                    <div class="mdl-card__media">
                      <img src="images/IMGP0947.jpg" width="100%" border="0" alt="TODO">
                    </div>
                    <div class="mdl-card__title">
                    <!-- LOCALIZE -->
                      <h2 class="mdl-card__title-text">Име на категорията</h2>
                      <div class="mdl-layout-spacer"></div>
                    </div>
                  </a>
                </div>
                <div class="mdl-card mdl-cell mdl-cell--12-col mdl-cell--3-col-desktop mdl-shadow--2dp">
                  <a class="link__collections" href="TODO.html">
                    <div class="mdl-card__media">
                      <img src="images/IMGP0947.jpg" width="100%" border="0" alt="TODO">
                    </div>
                    <div class="mdl-card__title">
                    <!-- LOCALIZE -->
                      <h2 class="mdl-card__title-text">Име на категорията</h2>
                      <div class="mdl-layout-spacer"></div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
            <div class="mdl-tabs__panel" id="recipe__ingredients">
              <div class="mdl-grid">
                <div class="mdl-card mdl-cell mdl-cell--12-col mdl-cell--4-col-desktop mdl-shadow--2dp">

                </div>
              </div>
            </div>
            <div class="mdl-tabs__panel" id="recipe__cuisine">
              <div class="mdl-grid">
                <div class="mdl-card mdl-cell mdl-cell--12-col mdl-cell--3-col-desktop mdl-shadow--2dp">
                  <a class="link__collections" href="TODO.html">
                    <div class="mdl-card__media">
                      <img src="images/IMGP2538.jpg" width="100%" border="0" alt="TODO">
                    </div>
                    <div class="mdl-card__title">
                    <!-- LOCALIZE -->
                      <h2 class="mdl-card__title-text">Тип кухня</h2>
                      <div class="mdl-layout-spacer"></div>
                    </div>
                  </a>
                </div>
                <div class="mdl-card mdl-cell mdl-cell--12-col mdl-cell--3-col-desktop mdl-shadow--2dp">
                  <a class="link__collections" href="TODO.html">
                    <div class="mdl-card__media">
                      <img src="images/IMGP2538.jpg" width="100%" border="0" alt="TODO">
                    </div>
                    <div class="mdl-card__title">
                    <!-- LOCALIZE -->
                      <h2 class="mdl-card__title-text">Тип кухня</h2>
                      <div class="mdl-layout-spacer"></div>
                    </div>
                  </a>
                </div>
                <div class="mdl-card mdl-cell mdl-cell--12-col mdl-cell--3-col-desktop mdl-shadow--2dp">
                  <a class="link__collections" href="TODO.html">
                    <div class="mdl-card__media">
                      <img src="images/IMGP2538.jpg" width="100%" border="0" alt="TODO">
                    </div>
                    <div class="mdl-card__title">
                    <!-- LOCALIZE -->
                      <h2 class="mdl-card__title-text">Тип кухня</h2>
                      <div class="mdl-layout-spacer"></div>
                    </div>
                  </a>
                </div>
                <div class="mdl-card mdl-cell mdl-cell--12-col mdl-cell--3-col-desktop mdl-shadow--2dp">
                  <a class="link__collections" href="TODO.html">
                    <div class="mdl-card__media">
                      <img src="images/IMGP2538.jpg" width="100%" border="0" alt="TODO">
                    </div>
                    <div class="mdl-card__title">
                    <!-- LOCALIZE -->
                      <h2 class="mdl-card__title-text">Тип кухня</h2>
                      <div class="mdl-layout-spacer"></div>
                    </div>
                  </a>
                </div>
                <div class="mdl-card mdl-cell mdl-cell--12-col mdl-cell--3-col-desktop mdl-shadow--2dp">
                  <a class="link__collections" href="TODO.html">
                    <div class="mdl-card__media">
                      <img src="images/IMGP2538.jpg" width="100%" border="0" alt="TODO">
                    </div>
                    <div class="mdl-card__title">
                    <!-- LOCALIZE -->
                      <h2 class="mdl-card__title-text">Тип кухня</h2>
                      <div class="mdl-layout-spacer"></div>
                    </div>
                  </a>
                </div>
                <div class="mdl-card mdl-cell mdl-cell--12-col mdl-cell--3-col-desktop mdl-shadow--2dp">
                  <a class="link__collections" href="TODO.html">
                    <div class="mdl-card__media">
                      <img src="images/IMGP2538.jpg" width="100%" border="0" alt="TODO">
                    </div>
                    <div class="mdl-card__title">
                    <!-- LOCALIZE -->
                      <h2 class="mdl-card__title-text">Тип кухня</h2>
                      <div class="mdl-layout-spacer"></div>
                    </div>
                  </a>
                </div>
                <div class="mdl-card mdl-cell mdl-cell--12-col mdl-cell--3-col-desktop mdl-shadow--2dp">
                  <a class="link__collections" href="TODO.html">
                    <div class="mdl-card__media">
                      <img src="images/IMGP2538.jpg" width="100%" border="0" alt="TODO">
                    </div>
                    <div class="mdl-card__title">
                    <!-- LOCALIZE -->
                      <h2 class="mdl-card__title-text">Тип кухня</h2>
                      <div class="mdl-layout-spacer"></div>
                    </div>
                  </a>
                </div>
                <div class="mdl-card mdl-cell mdl-cell--12-col mdl-cell--3-col-desktop mdl-shadow--2dp">
                  <a class="link__collections" href="TODO.html">
                    <div class="mdl-card__media">
                      <img src="images/IMGP2538.jpg" width="100%" border="0" alt="TODO">
                    </div>
                    <div class="mdl-card__title">
                    <!-- LOCALIZE -->
                      <h2 class="mdl-card__title-text">Тип кухня</h2>
                      <div class="mdl-layout-spacer"></div>
                    </div>
                  </a>
                </div>
                <div class="mdl-card mdl-cell mdl-cell--12-col mdl-cell--3-col-desktop mdl-shadow--2dp">
                  <a class="link__collections" href="TODO.html">
                    <div class="mdl-card__media">
                      <img src="images/IMGP2538.jpg" width="100%" border="0" alt="TODO">
                    </div>
                    <div class="mdl-card__title">
                    <!-- LOCALIZE -->
                      <h2 class="mdl-card__title-text">Тип кухня</h2>
                      <div class="mdl-layout-spacer"></div>
                    </div>
                  </a>
                </div>
                <div class="mdl-card mdl-cell mdl-cell--12-col mdl-cell--3-col-desktop mdl-shadow--2dp">
                  <a class="link__collections" href="TODO.html">
                    <div class="mdl-card__media">
                      <img src="images/IMGP2538.jpg" width="100%" border="0" alt="TODO">
                    </div>
                    <div class="mdl-card__title">
                    <!-- LOCALIZE -->
                      <h2 class="mdl-card__title-text">Тип кухня</h2>
                      <div class="mdl-layout-spacer"></div>
                    </div>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
      <!-- Footer -->
    </div>
  </div>
    <!-- Scripts -->
    <script src="https://storage.googleapis.com/code.getmdl.io/1.0.4/material.min.js"></script>
  </body>
</html>
