/*Text*/
body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}
.text__secondary {
  color: #727272;
}

/*Title*/

/*links*/
.mdl-layout__header-row .mdl-navigation__link {
  border-bottom: 3px solid transparent;
}
.mdl-layout__header-row .mdl-navigation__link:hover {
  border-bottom-color: #FF4081;
}
.mdl-layout__drawer .mdl-navigation__link:hover {
  border-left: 3px solid #FF4081;
}
.mdl-layout__drawer-button:hover {
  color: #FF4081;
}
.button__pagination-text {
  color: #666666;
  text-decoration: none;
}
.button__pagination-arrow {
  border-radius: 100%;
}
/*Modules*/
/*Modules: card*/
.mdl-card {
  overflow: visible;
}
.mdl-card__media {
  max-height: 400px;
  overflow: hidden;
}
/*Modules: card bio*/

.card__bio .mdl-card__media {
  background-color: #ffffff;
  margin-left: auto;
  margin-right: auto;
}
.card__bio img {
  display: block;
  margin: 2em auto;
  border-radius: 100%;
  overflow: hidden;
  width: 120px;
}
.bio__divider {
  width: 60%;
  margin: 0 auto 1em auto;
}
.bio__button {
  float: right;
}
/*Modules: caption*/
.caption {
  color: #999999;
  padding:5em;
}
.caption-subheading {
  padding-top: 0.5em;
}

/*Content*/
.content {
  max-width: 1200px;
}
