/*Text*/
body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
}
.text__secondary {
  color: #727272;
}

/*Title*/

/*Images*/
img {
  border: none;
}

/*Rulers*/

/*links*/
.mdl-layout__header-row .mdl-navigation__link {
  border-bottom: 3px solid transparent;
  opacity: 0.75;
}
.mdl-layout__header-row .mdl-navigation__link:hover {
  opacity: 1;
}
.mdl-navigation__link.active-main {
  border-bottom-color: #FF4081;
}
.mdl-navigation__link.active-side {
  border-left: 3px solid #FF4081;
}
.mdl-layout__drawer-button {
  opacity: 0.75;
}
.mdl-layout__drawer-button:hover {
  opacity: 1;
}
.link__collections {
  text-decoration: none;
}
.button__pagination-text {
  color: #666666;
  text-decoration: none;
  margin-top: auto;
  margin-bottom: auto;
}
.button__pagination-arrow {
  border-radius: 100%;
}
.navigation__filter {
  box-shadow: none;
  border: none;
  background-color: transparent;
}
/*Modules*/
/*Modules: card*/
.mdl-card {
  overflow: visible;
}
.mdl-card__media img {
  width: 100%;
}
.mdl-card__media {
  max-height: 400px;
  overflow: hidden;
  background:none;
}
.link__collections .mdl-card__media {
  max-height: 160px;
  overflow: hidden;
}
/*Modules: card bio*/
.card__bio {
  padding: 2em 2em 0 2em;
}
.card__bio .mdl-card__media {
  margin-left: auto;
  margin-right: auto;
}
.card__bio img {
  display: block;
  margin: 2em auto;
  border-radius: 100%;
  overflow: hidden;
  width: 120px;
}
.bio__divider {
  width: 60%;
  margin: 0 auto 1em auto;
}
.bio__button {
  float: right;
}
/*Modules: pagination*/
.pagination {
  padding-top: 1em;
}
.pagination li {
  display: inline;
  list-style: none;
}
.pagination-list {
  text-decoration: none;
  color:#999;
}

/*Modules: caption*/
.caption {
  color: #999999;
  padding:5em;
}
.caption__reclist {
  color: #999999;
  padding: 3em 0 3em 0;
}
.caption-subheading {
  padding-top: 0.5em;
}
/*Modules: card collection*/
.link__collections {
  border-bottom: 3px solid transparent;
}
.link__collections:hover {
  border-bottom-color: #FF4081;
}
.recipes__divider {
  width: 100%;
}
/*Modules: footer*/
.credits {
  padding: 0.3em;
}

/*Content*/
.content {
  max-width: 1200px;
}
